body {
  margin: 0;
  box-sizing: border-box;
  background: #f6f8f8 !important;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.topnav {
  height: 62px;
  background-color: #343a40;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 500;
  width: 60px;
  height: 100%;
  background-color: #fff !important;
}

.sidebar .top {
  flex: 1;
}

.main {
  margin-left: 60px;
  padding-top: 62px;
  height: 100vh;
  display: flex;
}

.menu-link {
  height: 60px;
  text-decoration: none;
  display: flex;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: rgb(164, 170, 172);
}

.menu-link:hover {
  color: #2b80ff;
}

.menu-link i {
  margin: 0 !important;
  width: auto !important;
}

.horizontal-right {
  margin: 0 0 0 .5em !important;
}

.ui.segment, .ui.attached.segment  {
  background: none;
  border: none;
  padding: 0;
}

.page-sidebar {
  border-right: 1px solid #dde1e3;
  left: 62px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 220px;
  padding: 20px;
}

.logo-container {
  width: 60px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464c52;
}

.page-title {
  padding: 0 20px 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #343a40;
}

.header-actions{
  display: flex;
  width: 100%;
}
.header-actions .left{
  flex: 1;
}
.header-actions .left .search{
  width: 300px;
}

.page-title h1 {
  font-weight: 100;
  margin: 0;
  min-width: 230px;
}

.ui.card {
  padding: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pos .ui.card {
  width: auto !important;
}

.customer-header {
  display: flex;
}

.customer-details {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.pos {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
}

.pos-right {
  display: flex;
  flex-direction: column;
}

.pos-right, .pos-left {
  padding: 0 1em;
}

.pos-quick-products {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 600px;
}

.dashboard .dashboard-item {
  padding: 1rem;
  height: 100%;
}

.dashboard-item .ui.card {
  height: 100%;
}

.pos-item {
  display: flex;
  position: relative;
}

.pos-item:before {
  position: absolute;
  content: "";
  background-color: #41af4b;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  opacity: 0;
  transition: opacity .2s ease 0s;
}

.pos-item-actions {
  visibility: visible;
  opacity: 1;
  max-height: 300px;
  transition: max-height 0.2s ease;
}

.pos-item.expanded:before {
  opacity: 1;
}

.pos-item-quantity {
  margin-right: 20px;
}

.pos-item-content {
  display: flex;
  padding: 0.7em 0 0.7em 0.7em;
  align-items: center;
}

.pos-item-delete {
  padding: 0 1em;
  margin-left: 1em !important;
}

.pos-item-delete i {
  margin: 0 !important;
}

.pos-item-actions {
  padding: 0 16px;
}

.pos-item-actions label {
  margin-bottom: 5px;
}

.pos-actions-top, .pos-actions-bottom {
  margin-bottom: 0.5em;
}

.pos-actions-top {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.pos-actions-top div {
  padding: 0 0.25em;
}

.pos-actions-top div, .pos-actions-bottom div {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  padding: 0 16px;
  max-height: 0;
}

.customer-header {
  margin-bottom: 10px;
}

.jobsPage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px 1fr;
}